<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>replit</title>
  <link href="{{ url_for('static', filename='styles/style.css') }}" rel="stylesheet" type="text/css" />
</head>

<body>
  <div class="topnav">
    <a href="home.html">Current Live Poll</a>
    <a href="results.html">View Results</a>
    <a href="feedback.html">Feedback</a>
  </div>
  
  <h1 id="vote_submition">Thank you for your submition!</h1>
  <div class="resultsbox">
  </div>
</body>

</html>